 #navigation {
    margin:0 auto 10px auto;
    padding:10px 30px;
    max-width: 70%;
}

#navigation > li {
    display:inline;
    margin:0
}

#navigation > li > a, #navigation > li > span {
    display:inline-block;
    padding:5px 10px;
    text-decoration:none;
}

#head {
    -moz-border-radius:10px;
    border:0;
    margin:10px auto 0 auto;
    padding:5px 30px;
    max-width: 70%;
}

.active, #head, #navigation, a {
    color:#fff;
}
#navigation,.active,#head {
    background:#434A48;
    color:#fff
}
#navigation a:hover {
    background:#383E3C
}
#navigation .active {
    background:#687370
}

body {
    background:#F7F4E9;
}


 .Content-Main{
            max-width: 70%;
            margin: auto;
            border: none;
            padding:10px 30px;
            color: #D3D3D3;
         
 }
  .Content-Main h1{
            padding: 8px 0px 40px 10px;
            display: block;
            border-bottom: 1px solid #444;
            color:#555;
        }

 table
        {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }
        table td, table th
        {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }
        table thead th
        {
            background-color: #CCE8EB;
            width: 100px;
        }
        table tr:nth-child(odd)
        {
            background: #fff;
        }
        table tr:nth-child(even)
        {
            background: #F5FAFA;
        }
