<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Public Test Location</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }
        .header {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }
        .topnav {
            overflow: hidden;
            background-color: #333;
        }
        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
    <style>
        .el-form{
            padding-top: 48px;
        }
        .fw-bold {
            font-weight: 600!important;
        }
    </style>
</head>

<body id="kt_body" style="background-image: url('css/icon-vaccine.jpg')" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
<div class="header">
    <h1> Public Test Location Information Management</h1>
</div>
<div class="topnav">
    <a href="index-page-2.html" class="operation">Back</a>
    <a href="covidPtlUpdate.html" class="operation">Create</a>
</div>
<div id="app">
    <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-row flex-column-fluid">
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--Top-->
                <div id="kt_header" class="header align-items-stretch" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
                    <div class="container-xxl d-flex align-items-center">
                        <div class="header-logo me-5 me-md-10 flex-grow-1 flex-lg-grow-0">
                        </div>

                        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                            <div class="d-flex align-items-stretch" id="kt_header_nav">
                                <div class="header-menu align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_header_menu_mobile_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}">
                                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                                        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
                                        </div>
                                        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item here menu-lg-down-accordion me-lg-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--TopMid-->


                <!--Mid-->
                <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
                    <div class="content flex-row-fluid" id="kt_content">
                        <div class="card">
                            <div class="card-body pt-0">
                                <!--table-->
                                <el-table
                                        :data="tableData.filter(data => !search || data.vaccStreet.toLowerCase().includes(search.toLowerCase()) || data.vaccSuburb.toLowerCase().includes(search.toLowerCase()))"
                                        style="width: 100%"
                                >
                                    <el-table-column
                                            label="Street"
                                            prop="ptlStreet">
                                    </el-table-column>
                                    <el-table-column
                                            label="Suburb"
                                            prop="ptlSuburb">
                                    </el-table-column>
                                    <el-table-column
                                            label="Open Time(am)"
                                            prop="openTime">
                                    </el-table-column>
                                    <el-table-column
                                            label="Close Time(pm)"
                                            prop="closeTime">
                                    </el-table-column>
                                    <el-table-column
                                            label="Location Name"
                                            prop="ptlName">
                                    </el-table-column>
                                    <el-table-column
                                            label="Contact Number"
                                            prop="ptlTel">
                                    </el-table-column>
                                    <el-table-column
                                            align="right">
                                        <template slot-scope="scope">
                                            <el-button
                                                    size="mini"
                                                    @click="handleEdit(scope.$index, scope.row)">Edit
                                            </el-button>
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleDelete(scope.$index, scope.row)">Delete
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                    </table>
                                </el-table>

                                <!--dialog-->
                                <el-dialog title="Edit" :visible.sync="dialogFormVisible">
                                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                                        <el-form-item label="Street" prop="ptlStreet">
                                            <el-input v-model="ruleForm.ptlStreet"></el-input>
                                        </el-form-item>
                                        <el-form-item label="Suburb" prop="ptlSuburb">
                                            <el-input v-model="ruleForm.ptlSuburb"></el-input>
                                        </el-form-item>
                                        <el-form-item label="Open Time" prop="openTime">
                                            <el-input v-model="ruleForm.openTime">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="Close Time" prop="closeTime">
                                            <el-input v-model="ruleForm.closeTime">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="Location Name" prop="ptlName">
                                            <el-input v-model="ruleForm.ptlName"></el-input>
                                        </el-form-item>
                                        <el-form-item label="Contact Number" prop="ptlTel">
                                            <el-input v-model="ruleForm.ptlTel"></el-input>
                                        </el-form-item>
                                    </el-form>
                                    <div slot="footer" class="dialog-footer">
                                        <el-button @click="resetForm('ruleForm')">Cancel</el-button>
                                        <el-button type="primary" @click="submitForm('ruleForm')">Submit</el-button>
                                    </div>
                                </el-dialog>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    ELEMENT.locale(ELEMENT.lang.en)
    var app = new Vue({
        el: '#app',
        data: {
            dialogFormVisible: false,
            tableData: [],
            search: '',
            ruleForm: {
                ptlSuburb: '',
                ptlStreet: '',
                openTime: '',
                closeTime: '',
                ptlName: '',
                bookingWebsite: '',
                ptlTel: '',
                locationLongitude: '',
                locationLatitude: ''
            },
            rules: {
                ptlStreet: [
                    {required: true, message: 'Please fill in the Street.', trigger: 'blur'},
                    {
                        validator: (rule, value, callback) => {
                            let reg = /[0-9][a-z]/;
                            if (reg.test(value)) {
                                callback(new Error('Please enter the No. and Street Properly.'))
                            } else {
                                callback()
                            }
                        },
                        trigger: 'blur'
                    }
                ],
                ptlSuburb: [
                    {required: true, message: 'Please fill in the Suburb.', trigger: 'blur'},
                    {
                        validator: (rule, value, callback) => {
                            let reg = /[0-9]/;
                            if (reg.test(value)) {
                                callback(new Error('Please enter the Suburb Properly.'))
                            } else {
                                callback()
                            }
                        },
                        trigger: 'blur'
                    }
                ],
                openTime: [
                    {required: true, message: 'Please fill in Yes or No.', trigger: 'blur'},
                    {
                        validator: (rule, value, callback) => {
                            let reg = /[0-9][a-z]/;
                            if (reg.test(value)) {
                                callback(new Error('Please enter Properly.'))
                            } else {
                                callback()
                            }
                        },
                        trigger: 'blur'
                    }
                ],
                closeTime: [
                    {required: true, message: 'Please fill in Number.', trigger: 'blur'},
                    {
                        validator: (rule, value, callback) => {
                            let reg = /[0-9][a-z]/;
                            if (reg.test(value)) {
                                callback(new Error('Please enter Number Properly.'))
                            } else {
                                callback()
                            }
                        },
                        trigger: 'blur'
                    }
                ],
                ptlName: [
                    {required: true, message: 'Please fill in the LocationName.', trigger: 'blur'},
                    {
                        validator: (rule, value, callback) => {
                            let reg = /[0-9][a-z]/;
                            if (reg.test(value)) {
                                callback(new Error('Please enter the Name Properly.'))
                            } else {
                                callback()
                            }
                        },
                        trigger: 'blur'
                    }
                ],
                bookingWebsite: [
                    {required: true, message: 'Please fill in the Website.', trigger: 'change'},
                    {
                        validator: (rule, value, callback) => {
                            let reg = /[0-9][a-z]/;
                            if (reg.test(value)) {
                                callback(new Error('Please enter the website Properly.'))
                            } else {
                                callback()
                            }
                        },
                        trigger: 'blur'
                    }
                ],
                ptlTel: [
                    {required: true, message: 'Please fill in the Contact Number.', trigger: 'change'},
                    {
                        validator: (rule, value, callback) => {
                            let reg = /[0-9]/;
                            if (!reg.test(value)) {
                                callback(new Error('Please enter  number'))
                            } else {
                                callback()
                            }
                        },
                        trigger: 'blur'
                    }
                ],
                locationLongitude: [
                    {required: true, message: 'Please fill in the lng.', trigger: 'change'},
                    {
                        validator: (rule, value, callback) => {
                            let reg = /^[+-]?(0|([1-9]\d*))(\.\d+)?$/g;
                            if (!reg.test(value)) {
                                callback(new Error('Please enter a number with decimal point.'))
                            } else {
                                callback()
                            }
                        },
                        trigger: 'blur'
                    }
                ],
                locationLatitude: [
                    {required: true, message: 'Please fill in the location.', trigger: 'blur'}
                ]
            }
        },
        mounted: function () {
            this.getCovidPtl();
        },
        methods: {
            getCovidPtl() {
                axios.get('/Covid19_PublicTestLocation1')
                    .then((response) => {
                        this.tableData = response.data
                        console.log(response)
                    })
            },
            handleEdit(index, row) {
                this.ruleForm=this.tableData[index]
                this.dialogFormVisible = true
                console.log(index, row);
            },
            handleDelete(index, row) {
                axios.delete('/Covid19_PublicTestLocation4',  {data: this.tableData[index]})
                this.getCovidPtl()
                console.log(index, row);
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.put('/Covid19_PublicTestLocation3', this.ruleForm)
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.dialogFormVisible = false
                // this.$refs[formName].resetFields();
                this.ruleForm={
                    vaccStreet: '',
                    vaccSuburb: '',
                    isAvailable: '',
                    remainingVaccine: '',
                    locationName: '',
                    bookingWebsite: '',
                    bookingTel: '',
                    locationLongitude: '',
                    locationLatitude: ''
                };
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },


        }
    })
</script>
</html>